<%= form_with model: task, url: url do |form| %>
  <div class="field">
    <%= form.text_field :title, placeholder: "Task Title" %>
  </div>
  <div class="field">
    <%= form.text_area :body, placeholder: "Task Body" %>
  </div>
  <div class="field">
    <%= form.date_select :date %>
  </div>
  <div class="action">
    <%= form.submit %>
  </div>
<% end %>
