<div class="category-show">
   <%= render 'layouts/error' %>
  <div class="category-title">
    <h1><%= @category.title %> Tasks </h1>
    <div class="links">
      <%= link_to edit_category_path(@category) do %>
        <i class="fa-solid fa-pen-to-square"></i>
      <% end %>
      <%= link_to category_path, method: :delete do %>
        <i class="fa-solid fa-trash"></i>
      <% end %>
      <%= link_to new_category_task_path(@category), class: "new-task" do %>
        <i class="fa-solid fa-plus"></i>
        <span>Task</span>
      <% end %>
    </div>
  </div>
  <br>
 <%= render 'layouts/tasks', today: @tasks, upcoming: @upcoming_tasks, delayed: @delayed_tasks %>
  <% content_for :sidebar do %>
    <% render 'layouts/sidebar', categories: @categories %>
  <% end %>
</div>
