<div class="sidebar-main">
  <div class="links">
    <%= link_to "Today", categories_path %> |
    <%= link_to "Upcoming", upcoming_tasks_path %> |
    <%= link_to "Delayed", delayed_tasks_path %>
  </div>
  <h2>To-do list</h2>
  <div class="todo-list">
    <% current_user.categories.each do |category| %>
      <details class="todo" <%= current_page?(id: category) ? "open" : "" %> <%= current_page?(category_id: category) ? "open" : "" %>>
        <summary class="category-title">
          <span>
          <span>
            <%= link_to category do %>
              <%= category.title %>
            <% end %>
          </span>
          <span>
            <% if category.tasks.any? %>
              <%= pluralize(category.tasks.count, "Task") %>
            <% else %>
              0 Task
            <% end %>
            <%= link_to category, method: :delete, data: {confirm: "Are you sure?"} do %>
              <i class="fa-solid fa-trash"></i>
            <% end %>
          </span>
          </span>
        </summary>
        <ul>
          <% category.tasks.each do |task| %>
            <li>
              <%= link_to category_task_path(category, task) do %>
                <%= task.title %>
              <% end %>
            </li>
          <% end %>
        </ul>
        <%= link_to "New Task", new_category_task_path(category) %>
      </details>
    <% end %>
  </div>
</div>
<%= form_with model: current_user.categories.build do |form| %>
  <div class="field">
    <%= form.text_field :title, placeholder: "Category title" %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
